/*strat main rules */
body{
	background-color: #f4f4f4;
	font-size: 16px;
	height: 1000px;

}
.form-control {
	position: relative;
}

.asterisk{
	color: rgb(218, 19, 19);
	top: 10px;
    position: absolute;
    font-size: 30px;
    right: 60px;
	

}

/*end main rules */




/*start login form*/
.login{
	width: 300px;
	margin: 100px auto;

}
.log h4{
	color: #888;
}
.login input{
	margin-bottom: 10px;

}
.login .form-control{
	background-color: #e6e2e2;
}

.log .btn{
	background-color: #008dde;
}
/*end login form*/

/* START BOOTSTRAP EDITS */
.navbar{
	border-radius: 0;
	margin-bottom: 0;

}
.navbar-brand{
	font-size: 1em;
}
.navbar-nav>li>a
.navbar-brand{
	padding: 15px 12px;
}
.navbar-inverse .navbar-nav>.open>a,
 .navbar-inverse .navbar-nav>.open>a:focus,
  .navbar-inverse .navbar-nav>.open>a:hover,
  .dropdown-menu
   {

    background-color: #3498db;
  }
  .dropdown-menu > li > a{
	  color: #fff;
	  padding: 10px 15px;
  }
  
  .dropdown-menu > li > a:focus,
  .dropdown-menu > li > a:hover{
	  color: #fff;
	  background-color: #8e44ad;
  }
  .dropdown-menu{
	  min-width: 180px;
	  padding: 0;
	  font-size: 1em;
	  border: none;
	  border-radius: 0;
  }
/* END BOOTSTRAP EDITS */
/* strat dashboard page */
.home-state .stat{
	padding: 20px;
	font-size: 20px;
	color: #fff;
}
.panel-heading .toggle-info i{
	cursor: pointer;
	color: #333;
}
.home-state .stat i{
	font-size: 55px;
}
.home-state .stat span{
	display:block;
	font-size: 60px;
}
.home-state a{color: #fff;}
.home-state a:hover{
	text-decoration: none;
}
.st-members{
	background-color:#3498db ;
    border-radius: 10px;}
.st-pending{background-color:#c0392b ;border-radius: 10px;}
.st-items{background-color: #d35400;border-radius: 10px;}
.st-comments{background-color: #8e44ad;border-radius: 10px;}
.latest{
	margin-top: 30px;
}
.latest-users{
	margin-bottom: 0;
}
.latest-users li{
	padding: 10px ;
	overflow: hidden;
}
.latest-users .btn-success{
	padding: 3px 8px;
}
.latest-users .btn-info{
padding: 3px 0px;
margin-right: 5px;
}
.latest-users li:nth-child(odd){
	background-color: #eee;
}
.latest .comment-box{
	margin: 5px 0 10px;
	position: relative;
}
.latest .comment-box .member-c,
.latest .comment-box .member-n{

	float: left;

}
.latest .comment-box .member-n{
	margin-right: 20px;
	width: 80px;
	text-align: center;
	color: cornflowerblue;
}
.latest .comment-box .member-c{
	width :calc(100% - 100px);
	background-color: #efefef;
	padding: 10px;
}

/* end dashboard page */
/* strat member page */
h1{
	font-size: 55px;
     margin: 40px 0;
	 font-weight: bold;
	 color: #333;

}
.form-control {
	position: relative;
}
.show-pass{
	position: absolute;
	top: 2px;
	left: 240px;
	cursor: pointer;
}
.main-table{
	box-shadow:  0 3px 10px #ccc;
}
.main-table td{
	background-color: #fff;
	vertical-align: middle !important;
}
 .main-table tr:first-child td{ /*you can use th */
	background-color: #333;
	color: #fff;
	
}
.main-table .btn{
	padding: 3px 10px;
    margin-left: 10px;
}
/* end member page */
/* strat categories page */

.categories .sort a{
	text-decoration: none;
	color:#333 ;
	
	
}
.categories .sort .active{
	color: red;
    font-weight: bold ;
}
.panel-body{
	padding: 0;
}

.categories .cat{
	position: relative;
	overflow: hidden;
	margin: 0;
	padding: 20px ;
	
}
.categories .cat .button-hidden{
	-webkit-transition: all .5s ease-in-out;
	-moz-transition: all .5s ease-in-out;
	transition: all .5s ease-in-out;
	position: absolute;
	top: 15px;
	right: -200px;
}
.categories .cat:hover {
	background-color: #eee;
}
.categories .cat:hover .button-hidden{
	right: 10px;

	
}
.categories .cat a{
	
	margin-right: 10px;
	color: #333;
	
}


.categories hr{
	
	border-top: 2px solid black;
	margin: 0;
}
.categories .sort span {
	cursor: pointer;
	color: #333;
	

}

.categories h3{
	cursor: pointer;
	

}
.categories h3,
.categories .Description{
	margin-bottom: 25px;
	color: #333 ;
	
	
}
.categories .cat:last-of-type ~ hr{
	display: none;
}
.categories .cat .visibility{
	background-color: #5d7485;
	color: #fff;
	padding: 4px 6px;
	margin-right: 10px;
	border-radius: 6px;
}	
.categories .cat .Allow_comment{
	background-color: #32273d;
	color: #fff;
	padding: 4px 6px;
	margin-right: 10px;
	border-radius: 6px;
}	
.categories .cat .Advertisment{
	background-color:  #d14d3c;
	color: #fff;
	padding: 4px 6px;
	margin-right: 10px;
	border-radius: 6px;
}	
/* end categories page */


                          
                               
           
